{
	"token": "YOUR_BOT_TOKEN",
	"prefix": ".",
	"defaultLang": "en",
	"cleanMode": false,
	"searchPlatform": "ytmsearch",
	"nodes": [
		{
			"name": "main",
			"url": "localhost:80",
			"auth": "youshallnotpass",
			"secure": false
		}
	],
	"donate": {
		"url": "https://saweria.co/Saturiaaa",
		"chance": 0.1
	}
}
