{
	"token": "YOUR_BOT_TOKEN",
	"prefix": ".",
	"defaultLang": "en",
	"cleanMode": false,
	"nodes": [
		{
			"name": "main",
			"url": "localhost:80",
			"auth": "youshallnotpass",
			"secure": false
		}
	],
	"spotify": {
		"clientId": "YOUR_SPOTIFY_CLIENT_ID",
		"clientSecret": "YOUR_SPOTIFY_CLIENT_SECRET",
		"searchMarket": "ID"
	},
	"donate": {
		"url": "https://saweria.co/Saturiaaa",
		"chance": 0.1
	}
}
